* {
    font-family: Montserrat ;


}

body {
  background-color: black;
 
}

@font-face {
  font-family: Montserrat;
  src: url(../src/fonts/Montserrat.ttf);
}

@font-face {
  font-family: Montserrat-Italic;
  src: url(../src/fonts/Montserrat-Italic.ttf);
}